/*
body
{
background-image:url("greenbubbles.jpg");
}

body{background: url("greenbubbles.jpg");}
*/


body
{
background-color:#3f2860;
font-family:"Arial", Helvetica, sans-serif;
font-size:1.25em;
font-weight:bold
}

#container
{
width:80%;
margin-top:50px;
margin-left:auto;
margin-right:auto;
}


#header
{
background-color:#EF6D3B;
text-align:center
}

#noBottomMargin
{
margin-bottom:0;
}


#menu
{
background-color:#7A9A95;
height:700px;
width:200px;
float:left;
}

ul
{
list-style-type:none;
margin:5px;
padding:5px
}

li
{
margin-top:20px
}


#content
{
background-color:#90C5A9;
height:700px;
margin-left:200px;
}

.textInCenter
{
text-align:center;
margin-top:auto;
margin-bottom:auto;
}


#footer
{
background-color:#FA8B60;
clear:both;
text-align:center;
padding:5px
}


.whiteBackground
{
background-color:#ffffff
}